@import "https://fonts.googleapis.com/css?family=Open+Sans:300, 400";

body {
  display: flex;
  font-family: "Open Sans", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.placeholder {
  height: 0px;
  opacity: 0;
}
